# Cosas de Visual Studio
.vs/
.vscode/

*.user
*.suo
*.userosscache
*.userprefs

# Archivos build
bin/
obj/
out/
Debug/
Release/

# publicados locles
*.pubxml
*.publishsettings

# Archivos generados automáticamente
Generated_*/ 
*.g.cs
*.g.i.cs

# Archivos temporales y de log
*.tmp
*.log

# Archivos cache
*.bak
*.cache
*.dbmdl

# Paquetes NuGet descargados
*.nupkg
*.snupkg
*.nuspec
packages/
!packages/build/

# Configuración de Rider / JetBrains
.idea/
*.sln.iml

# Datos sensibles o secretos
appsettings.Development.json
appsettings.Local.json
secrets.json
.env

# Archivos del sistema
Thumbs.db
Desktop.ini
